name: Docker build container

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  docker-push-containers-to-dockerhub-amd:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: get repo name
        id: repo-basename
        run: |
          echo "repo=$(basename ${{ github.repository }})" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Build docker image and push to DockerHub
        uses: senzing-factory/github-action-docker-buildx-build@v2
        with:
          image-repository: senzing/${{ steps.repo-basename.outputs.repo }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          platforms: "linux/amd64"
          username: ${{ secrets.DOCKERHUB_USERNAME }}

  docker-push-containers-to-dockerhub-arm:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clear space for docker build
        run: |
          rm -rf /opt/hostedtoolcache

      - name: Get repository name
        id: repo-basename
        run: |
          echo "repo=$(basename ${{ github.repository }})" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Build docker image and push to DockerHub
        uses: senzing-factory/github-action-docker-buildx-build@v2
        with:
          image-repository: senzing/${{ steps.repo-basename.outputs.repo }}
          image-tag: ${{ github.ref_name }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
