# Based on
# - https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
# - https://github.com/marketplace/actions/go-proxy-warming
# - https://github.com/andrewslotin/go-proxy-pull-action
# - https://futurestud.io/tutorials/github-actions-run-a-workflow-when-creating-a-tag

name: go-proxy-pull.yaml

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Renew documentation
    runs-on: ubuntu-latest
    steps:
      - name: Pull new module version
        uses: andrewslotin/go-proxy-pull-action@master
