name: govulncheck

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  govulncheck:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: ["1.24"]
        senzingsdk-version: [production-v4, staging-v4]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-version: ${{ matrix.senzingsdk-version }}

      - uses: golang/govulncheck-action@v1
        with:
          go-version-input: ${{ matrix.go }}
