name: make github release assets windows

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions: {}

jobs:
  make-github-release-assets-windows:
    name: publish binaries - windows
    outputs:
      status: ${{ job.status }}
    permissions:
      contents: write
    runs-on: windows-latest
    strategy:
      matrix:
        go: ["1.24"]
        senzingsdk-version: ["production-v4"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: false

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-version: ${{ matrix.senzingsdk-version }}

      - name: Add to "Path" environment variable
        run: |
          Add-Content "$env:GITHUB_PATH" "$Env:USERPROFILE\Senzing\er\lib"

      - name: Build executable
        run: |
          $Env:SENZING_PATH = "$Env:USERPROFILE\Senzing"
          $Env:CGO_CFLAGS = "-g -I$Env:SENZING_PATH\er\sdk\c"
          $Env:CGO_LDFLAGS = "-L$Env:SENZING_PATH\er\lib -lSz"
          go build -o senzing-tools.exe

      - name: upload versioned packages to release assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: senzing-tools.exe
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true

  slack-notification:
    needs: [make-github-release-assets-windows]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.make-github-release-assets-windows.outputs.status ) }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v3
    with:
      job-status: ${{ needs.make-github-release-assets-windows.outputs.status }}
