name: Make go tag

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  make-go-tag:
    name: Make a vM.m.P tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make go version tag
        uses: senzing-factory/github-action-make-go-tag@v1
