name: make-go-github-file.yaml
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
permissions: write-all
jobs:
  make-go-github-file:
    uses: senzing-factory/build-resources/.github/workflows/make-go-github-file.yaml@main
    secrets:
      SENZING_GITHUB_GPG_PRIVATE_KEY: ${{ secrets.SENZING_GITHUB_GPG_PRIVATE_KEY }}
      SENZING_GITHUB_GPG_PASSPHRASE: ${{ secrets.SENZING_GITHUB_GPG_PASSPHRASE }}
      SENZING_GITHUB_ACTOR: ${{ secrets.SENZING_GITHUB_ACTOR }}
