name: make-github-release-assets.yaml

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: make package
      - name: Upload files to release assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/senzing-tools/senzing-tools/target/senzing-tools-*
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
