name: make-go-tag.yaml
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
permissions: write-all
jobs:
  make-go-tag:
    name: Make a vM.m.P tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Make go version tag
        uses: senzing-factory/github-action-make-go-tag@main
